.input{
  display: flex;
  align-items: center;
}
.input-search{
  width: 50%;
  padding: 10px;
  margin: 10px;
  background: transparent;
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none;
}
.all-movies{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
h1 {
  margin: 10px;
}
